.session-header .logo-header {
    width: 100px;
    height: 90px;
    margin-left: 10px;
}

.session-header .text-header {
    font-size: 30px;
}

.session-header {
    display: flex;
    justify-content: flex-start;
}

.detail-header {
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
}

.detail-header img {
    width: 40px;
    height: 40px;
    padding-top: 18px;
    margin-left: 5px;
}

.detail-description {
    font-size: 15px
}

.detail-carousel {
    position: relative;
    text-align: center;
}

.text-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

#popular-food {
    font-size: 15px;
}

.popular-session #popular-food img {
    width: 40px;
    height: 40px;
    padding-top: 18px;
    margin-left: 5px;
}

#popular-drink {
    font-size: 15px;
}

.landing-session {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
}

th,
td {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #d7bee8;
    font-size: 20px;
}

.filter-session {
    background-color: #e5bfff;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 10px;
    position: sticky;
    top: 0;
}

.filter-session-element {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.list-of-facilities {
    display: flex;
    flex-wrap: wrap;
}

.list-of-facilities-item {
    width: 31%;
    height: 31%;
    background-color: #d7bee8;
    margin-right: 20px;
    margin-top: 20px;
    padding-left: 10px;
    display: flex;
}

.list-of-facilities-item-text p {
    font-size: 13px;
    margin-left: 10px;
}

.list-of-facilities-item-logo img {
    margin-top: 20%;
    border-radius: 25%;
    height: 60px;
    margin-right: 10px;
}

#detail-facilities-header {
    font-size: 25px;
    background-color: #d7bee8;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.detail-facilities-session {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
}

.detail-facilities-left-component img {
    border-radius: 50%;
    margin-bottom: 30px;
}

.detail-facilities-left-label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.detail-facilities-detail-header {
    padding-left: 30px;
    background-color: #eddcf2;
}

.detail-facilities-detail-descripion {
    padding-left: 30px;
    font-size: 12px;
}

.detail-facilities-center-component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.detail-facilities-right-component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}
