<!--This is the html code landing screen-->
<!--It contain key functionalities as recommend, popular facilties 
    and search filter (by type and by dropdown including number of guest and open time)-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinning at Warwick</title>
    <!--apply jinja template to link to css file-->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <!--apply flex box to make text and university logo on the same line with row order-->
    <div class="session-header">
        <h3 class="text-header">Welcome to Warwick's dinning facilities</h3>
        <img src="{{ url_for('static', filename='warwick-logo.png') }}" class="logo-header"></img>
    </div>
    <!--define class only for the future style (if change)-->
    <div class="session-title"></div>
    <p>Looking for place where to eat or drink ? <a
            href="{{ url_for('facilities_list',number_of_guest=99,open_day='99',open_time=99,is_student_union='99',type_id=99) }}">List
            of Cafe and Restaurant</a></p>
    </div>
    <!--apply flex box to make right center and left box align in the order and able to adjust the spaces between each box-->
    <section class="landing-session">
        <!--recommend facilities session-->
        <div class="recommend-session">
            <!--detail-header, descirption apply to all carousel in both recommend and popular-->
            <div class="detail-header">
                <h4>Recommendation</h4>
                <img src="{{ url_for('static', filename='shopping.png') }}" alt="recommedation icon"></img>
            </div>
            <p class="detail-description">The restaurant and cafe recommend by warwick staff</p>
            <!--use jinja to for loop display all of banner list from recommend list-->
            {% for recommend in recommends %}
            <div class="detail-carousel">
                <!--recommend picture path-->
                <a href="{{ url_for('facilities_detail',profile_id=recommend[0]) }}">
                    <!--recommend background image carousel-->
                    <img src="{{ url_for('static', filename='carousel.jpeg') }}" alt="carousel"></img>
                    <div class="text-centered">{{ recommend[1] }}</div>
                    <!--recommend facilities logo-->
                    <div class="carousel-sub-image">
                        <img src="{{ url_for('static', filename= recommend[2] ) }}" alt="facilities img"></img>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="popular-session">
            <!--popular facilities session-->
            <div class="detail-header">
                <h4>Most Popular</h4>
                <img src="{{ url_for('static', filename='popularity.png') }}" alt="most popular"></img>
            </div>
            <!--popular facilities in food session-->
            <h6 id="popular-food"
                style="color: rgb(56, 43, 200); font-size: 22px; margin-bottom: 5px; margin-top: 7px; padding-left: 170px; background-color: antiquewhite;">
                Food
            </h6>
            {% for popular in populars %}
            <!--filter the popular where is_food_popular = True which mean in food type-->
            {% if popular[3] == "True" %}
            <div class="detail-carousel">
                <a href="{{ url_for('facilities_detail',profile_id=popular[0]) }}">
                    <img src="{{ url_for('static', filename='carousel.jpeg') }}" alt="carousel"></img>
                    <div class="text-centered">{{ popular[1] }}</div>
                    <div class="carousel-sub-image">
                        <img src="{{ url_for('static', filename= popular[2] ) }}" alt="facilities img"></img>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
            <!--popular facilities in drink session-->
            <h6 id="popular-drink"
                style="color: rgb(43, 123, 221); font-size: 22px; margin-bottom: 5px; margin-top: 10px; padding-left: 170px; background-color: antiquewhite;">
                Drink</h6>
            {% for popular in populars %}
            <!--filter the popular where is_food_popular = False which mean in drink type-->
            {% if popular[3] == "False" %}
            <div class="detail-carousel">
                <a href="{{ url_for('facilities_detail',profile_id=popular[0]) }}">
                    <img src="{{ url_for('static', filename='carousel.jpeg') }}" alt="carousel"></img>
                    <div class="text-centered">{{ popular[1] }}</div>
                    <div class="carousel-sub-image">
                        <img src="{{ url_for('static', filename= popular[2] ) }}" alt="facilities img"></img>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!--filter by clicking on each type session config by type mapping with each dining.profile_id-->
        <div class="type-filter-session">
            <div class="detail-header">
                <h4>Filter by Type</h4>
                <img src="{{ url_for('static', filename='fast-food.png') }}">
            </div>
            <p class="detail-description">See the list of facilities filter by each type</p>
            {% for type in types %}
            <div class="type-box">
                <a
                    href="{{ url_for('facilities_list',number_of_guest=99,open_day='99',open_time=99,is_student_union='99',type_id=type[0]) }}">
                    <p class="text-in-box"><b>{{ type[1] }}</b></p>
                </a>
            </div>
            {% endfor %}
            <br></br>
            <div class="detail-header">
                <h4>Search Filter</h4>
                <img src="{{ url_for('static', filename='filter.png') }}" class="logo-header"></img>
            </div>
            <br>
            <!--for the dropdown part to apply search filter config as "POST" method to tell backend-->
            <form method="post">
                <!--number of guest dropdown-->
                <label for="number of guest">Number of guest</label>
                <select name="number-of-guest" id="number-of-guest">
                    <option value=99>None</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                </select><br></br>
                <!--open time dropdown which seperated into date and time-->
                <label for="open time">Open time</label>
                <select name="open-day" id="open-day">
                    <option value="99">None</option>
                    <option value="MON">Monday</option>
                    <option value="TUE">Tuesday</option>
                    <option value="WED">Wednesday</option>
                    <option value="THU">Thursday</option>
                    <option value="FRI">Friday</option>
                    <option value="SAT">Saturday</option>
                    <option value="SUN">Sunday</option>
                </select>
                <select name="open-time" id="open-time">
                    <option value=99>None</option>
                    <option value=9>9 am</option>
                    <option value=10>10 am</option>
                    <option value=11>11 am</option>
                    <option value=12>12 am</option>
                    <option value=13>1 pm</option>
                    <option value=14>2 pm</option>
                    <option value=15>3 pm</option>
                    <option value=16>4 pm</option>
                    <option value=17>5 pm</option>
                    <option value=18>6 pm</option>
                    <option value=19>7 pm</option>
                    <option value=20>8 pm</option>
                    <option value=21>9 pm</option>
                    <option value=22>10 pm</option>
                    <option value=23>11 pm</option>
                    <option value=24>12 pm</option>
                </select><br><br>
                <label for="student union">Student Union</label>
                <select name="student-union" id="student-union">
                    <option value="99" {% if pre_su=="99" %}selected{% endif %}>None</option>
                    <option value="False" {% if pre_su=="False" %}selected{% endif %}>No</option>
                    <option value="True" {% if pre_su=="True" %}selected{% endif %}>Yes</option>
                </select>
                <!--submit button and pass the number of guest and open time value for filter-->
                <p style="color: red;">** for date and time have to select both **</p>
                <input type="submit" value="Find"
                    style="background-color: rgb(130, 234, 215);font-size: 15px;border-radius: 10px;"><br></br>
            </form>
        </div>
    </section>
</body>

</html>